.product-dialog{
  .mat-dialog-container{
    overflow: visible !important;
    .close-btn-outer{
      position: relative;
      button{
        position: absolute;
        right: -44px;
        top: -44px;
      }
    }
  }
}

.mat-dialog-content {
  font-size: 14px;
  min-width: 800px;
  min-height: 600px;
}

.mat-dialog-title {
  background: #d32f2f;
  color: white;
  padding: 10px;
}
.line-items > div, .mat-dialog-content div {
  padding: 6px;
}
h3 {
  color: #d32f2f;
}