.product-dialog{
  .mat-dialog-container{
    overflow: visible !important;
    .close-btn-outer{
      position: relative;
      button{
        position: absolute;
        right: -44px;
        top: -44px;
      }
    }
  }
}

.mat-dialog-content {
  min-width: 400px;
  min-height: 400px;
}