<mat-toolbar class="top-navbar mat-elevation-z2" fxLayoutAlign="center center">

    <a mat-button routerLink="/" routerLinkActive="horizontal-active-link"
       [routerLinkActiveOptions]="{exact:true}" i18n>{{"home" | translate}}
    </a>
    <a mat-button routerLink="/products" routerLinkActive="horizontal-active-link"
       [routerLinkActiveOptions]="{exact:true}" i18n>{{"all_products" | translate}}
    </a>
    <a mat-button routerLink="/about" routerLinkActive="horizontal-active-link"
       [routerLinkActiveOptions]="{exact:true}" i18n>{{"about_us" | translate}}
    </a>
    <a mat-button routerLink="/contact" routerLinkActive="horizontal-active-link"
       [routerLinkActiveOptions]="{exact:true}" i18n>{{"contact_us" | translate}}
    </a>
    <a mat-button routerLink="/faq" routerLinkActive="horizontal-active-link"
       [routerLinkActiveOptions]="{exact:true}" i18n>{{"faq" | translate}}
    </a>
    <a mat-button routerLink="/products/browsing-history" routerLinkActive="horizontal-active-link"
       [routerLinkActiveOptions]="{exact:true}" i18n>{{"browsing_history" | translate}}
    </a>
    <a mat-button routerLink="/products/today-deals" routerLinkActive="horizontal-active-link"
       [routerLinkActiveOptions]="{exact:true}" i18n>{{"today_deals" | translate}}
    </a>


    <!--<ng-template ngFor let-cat [ngForOf]="categories">
        <a *ngIf="!cat.parent_id && !cat.children.length" mat-button [routerLink]="['/products/category', cat.id, cat.name]"
           routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">{{cat.name}}</a>
        <a *ngIf="!cat.parent_id && cat.children.length" mat-button [matMenuTriggerFor]="menuCat"
           [matMenuTriggerData]="{catChildren: cat.children}">{{cat.name}}
            <mat-icon class="caret">arrow_drop_down</mat-icon>
        </a>
    </ng-template>

    <mat-menu #menuCat="matMenu" [overlapTrigger]="false" class="app-dropdown">
        <ng-template matMenuContent let-catChildArray="catChildren">
            <ng-template ngFor let-child [ngForOf]="catChildArray">
                <a *ngIf="!child.children?.length" mat-menu-item [routerLink]="['/products/category', child.id, child.name]"
                   routerLinkActive="horizontal-active-link"
                   [routerLinkActiveOptions]="{exact:true}">{{child.name}}</a>
                <a *ngIf="child.children?.length" mat-menu-item [routerLink]="['/products/category', child.id, child.name]"
                   routerLinkActive="horizontal-active-link"
                   [matMenuTriggerFor]="third" [matMenuTriggerData]="{thirdChild: getThirdChildren(child)}">{{child.name}}</a>
            </ng-template>
        </ng-template>
        <mat-menu #third="matMenu" class="app-dropdown">
            <ng-template matMenuContent let-thirdChildArray="thirdChild">
                <ng-template ngFor let-tChild [ngForOf]="thirdChildArray">
                    <a *ngIf="!tChild.children?.length" mat-menu-item [routerLink]="['/products/category', tChild.id, tChild.name]"
                       routerLinkActive="horizontal-active-link"
                       [routerLinkActiveOptions]="{exact:true}">{{tChild.name}}</a>
                    <a *ngIf="tChild.children?.length" mat-menu-item [routerLink]="['/products/category', tChild.id, tChild.name]"
                       routerLinkActive="horizontal-active-link"
                       [matMenuTriggerFor]="fourth" [matMenuTriggerData]="{thirdChild: getThirdChildren(tChild)}">{{tChild.name}}</a>
                    &lt;!&ndash;<a mat-menu-item routerLink="/products">{{tChild.name}}</a>&ndash;&gt;
                </ng-template>
            </ng-template>
        </mat-menu>

        <mat-menu #fourth="matMenu" class="app-dropdown">
            <ng-template matMenuContent let-thirdChildArray="thirdChild">
                <ng-template ngFor let-tChild [ngForOf]="thirdChildArray">
                    <a mat-menu-item [routerLink]="['/products/category', tChild.id, tChild.name]">{{tChild.name}}</a>
                </ng-template>
            </ng-template>
        </mat-menu>

    </mat-menu>
-->

    <!--<mat-menu #menuCat="matMenu" [overlapTrigger]="false" class="app-dropdown">
        <ng-template matMenuContent let-catChildArray="catChildren">
            <ng-template ngFor let-child [ngForOf]="catChildArray">
                <a *ngIf="!checkChildren(child)" mat-menu-item [routerLink]="['/products', child.id]"
                   routerLinkActive="horizontal-active-link"
                   [routerLinkActiveOptions]="{exact:true}">{{child.name}}</a>
                <a *ngIf="checkChildren(child)" mat-menu-item [routerLink]="['/products', child.id]"
                   routerLinkActive="horizontal-active-link"
                   [matMenuTriggerFor]="third" [matMenuTriggerData]="{thirdChild: getThirdChildren(child)}">{{child.name}}</a>
            </ng-template>
        </ng-template>
        <mat-menu #third="matMenu" class="app-dropdown">
            <ng-template matMenuContent let-thirdChildArray="thirdChild">
                <ng-template ngFor let-tChild [ngForOf]="thirdChildArray">
                    <a *ngIf="!checkChildren(tChild)" mat-menu-item [routerLink]="['/products', tChild.id]"
                       routerLinkActive="horizontal-active-link"
                       [routerLinkActiveOptions]="{exact:true}">{{tChild.name}}</a>
                    <a *ngIf="checkChildren(tChild)" mat-menu-item [routerLink]="['/products', tChild.id]"
                       routerLinkActive="horizontal-active-link"
                       [matMenuTriggerFor]="fourth" [matMenuTriggerData]="{thirdChild: getThirdChildren(tChild)}">{{tChild.name}}</a>
                    &lt;!&ndash;<a mat-menu-item routerLink="/products">{{tChild.name}}</a>&ndash;&gt;
                </ng-template>
            </ng-template>
        </mat-menu>

        <mat-menu #fourth="matMenu" class="app-dropdown">
            <ng-template matMenuContent let-thirdChildArray="thirdChild">
                <ng-template ngFor let-tChild [ngForOf]="thirdChildArray">
                    <a mat-menu-item [routerLink]="['/products', tChild.id]">{{tChild.name}}</a>
                </ng-template>
            </ng-template>
        </mat-menu>

    </mat-menu>-->

    <!--<ng-template ngFor let-cat [ngForOf]="categories">
        <a *ngIf="!cat.parent_id && !cat.children.length" mat-button routerLink="/"
           routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">{{cat.name}}</a>
        <a *ngIf="!cat.parent_id && cat.children.length" mat-button [matMenuTriggerFor]="menuCat" [matMenuTriggerData]="cat.children"
           (click)="openMegaMenu()">{{cat.name}}
            <mat-icon class="caret">arrow_drop_down</mat-icon>
        </a>
        <mat-menu #menuCat="matMenu" [overlapTrigger]="false" class="mega-menu app-dropdown">
            <ng-template matMenuContent let-name="name">
                {{name | json}}
            <div fxLayout="row wrap">
                <ng-template ngFor let-child [ngForOf]="cat.children">
                    <div fxFlex="20" fxLayout="column" class="p-1">
                        <a mat-menu-item routerLink="/"><b>{{child.name}}</b></a>
                        <ng-template ngFor let-catt [ngForOf]="categories">
                        <ng-template [ngIf]="catt.parent_id === child.parent_id && catt.children.length">
                            <mat-divider></mat-divider>
                            &lt;!&ndash;<a *ngFor="let subCat of catt.children" mat-menu-item routerLink="/">{{subCat.name}}</a>&ndash;&gt;
                        </ng-template>
                        </ng-template>
                    </div>
                </ng-template>
            </div>
            </ng-template>
        </mat-menu>
    </ng-template>-->

</mat-toolbar>
<!--<mat-toolbar class="top-navbar mat-elevation-z2" fxLayoutAlign="center center">

    <a mat-button routerLink="/" routerLinkActive="horizontal-active-link"
       [routerLinkActiveOptions]="{exact:true}">Home</a>
    <a mat-button [matMenuTriggerFor]="menu" (click)="openMegaMenu()">Fashion
        <mat-icon class="caret">arrow_drop_down</mat-icon>
    </a>
    <mat-menu #menu="matMenu" [overlapTrigger]="false" class="mega-menu app-dropdown">
        <div fxLayout="row wrap">
            <div fxFlex="20" fxLayout="column" class="p-1">
                <a mat-menu-item routerLink="/"><b>WOMEN</b></a>
                <mat-divider></mat-divider>
                <a mat-menu-item routerLink="/">Dresses & Skirts</a>
                <a mat-menu-item routerLink="/">Jackets</a>
                <a mat-menu-item routerLink="/">Tops & Blouses</a>
                <a mat-menu-item routerLink="/">Shoes & Boots</a>
                <a mat-menu-item routerLink="/">Knitwear</a>
            </div>
            <div fxFlex="20" class="p-1">
                <a mat-menu-item routerLink="/"><b>MEN</b></a>
                <mat-divider></mat-divider>
                <button mat-menu-item>T-shirts & Polos</button>
                <button mat-menu-item>Shoes & Boots</button>
                <button mat-menu-item>Jeans</button>
                <button mat-menu-item>Coats</button>
            </div>
            <div fxFlex="20" class="p-1">
                <a mat-menu-item routerLink="/"><b>KIDS</b></a>
                <mat-divider></mat-divider>
                <button mat-menu-item>Top</button>
                <button mat-menu-item>Pants & Shorts</button>
                <button mat-menu-item>Dresses</button>
                <button mat-menu-item>Skirts</button>
                <button mat-menu-item>Set & Body</button>
            </div>
            <div fxFlex="20" class="p-1">
                <a mat-menu-item routerLink="/"><b>ACCESSORIES</b></a>
                <mat-divider></mat-divider>
                <button mat-menu-item>Watches</button>
                <button mat-menu-item>Bags & Wallet</button>
                <button mat-menu-item>Sunglasses</button>
                <button mat-menu-item>Belts & Hats</button>
            </div>
            &lt;!&ndash;<div fxFlex="20" class="p-1">
                <mat-card class="mega-menu-widget p-0">
                    <mat-chip-list>
                        <mat-chip color="warn" selected="true">50% OFF</mat-chip>
                    </mat-chip-list>
                    <button mat-raised-button color="primary">Shop now</button>
                    <img src="assets/images/others/mega_menu_img.png" alt="" class="w-100"> 
                </mat-card>
            </div>&ndash;&gt;
        </div>

    </mat-menu>

    <a mat-button [routerLink]="['/products', 'jewellery']" routerLinkActive="horizontal-active-link"
       [routerLinkActiveOptions]="{exact:true}">Jewellery</a>
    <a mat-button [routerLink]="['/products', 'electronics']" routerLinkActive="horizontal-active-link"
       [routerLinkActiveOptions]="{exact:true}">Electronics</a>
    <a mat-button [routerLink]="['/products', 'sports']" routerLinkActive="horizontal-active-link"
       [routerLinkActiveOptions]="{exact:true}">Sports</a>
    <a mat-button [routerLink]="['/products', 'motors']" routerLinkActive="horizontal-active-link"
       [routerLinkActiveOptions]="{exact:true}">Motors</a>

    <a mat-button [matMenuTriggerFor]="animals">Pages
        <mat-icon class="caret">arrow_drop_down</mat-icon>
    </a>
    <mat-menu #animals="matMenu" [overlapTrigger]="false" class="app-dropdown">
        <a mat-menu-item routerLink="/products" routerLinkActive="horizontal-active-link"
           [routerLinkActiveOptions]="{exact:true}">All products</a>
        <a mat-menu-item [routerLink]="['/products', '2', 'PC All-in-One']" routerLinkActive="horizontal-active-link"
           [routerLinkActiveOptions]="{exact:true}">Product detail</a>
        <a mat-menu-item routerLink="/contact" routerLinkActive="horizontal-active-link"
           [routerLinkActiveOptions]="{exact:true}">Contact</a>
        <a mat-menu-item routerLink="/sign-in">Sign in</a>
        <a mat-menu-item routerLink="/404">404 Error</a>
        <a mat-menu-item [matMenuTriggerFor]="others">Others</a>
    </mat-menu>

    <mat-menu #others="matMenu" class="app-dropdown">
        <a mat-menu-item href="http://themeseason.com" target="_blank">External Link</a>
        <a mat-menu-item>Menu item</a>
        <a mat-menu-item>Menu item</a>
        <a mat-menu-item>Menu item</a>
    </mat-menu>

    <a mat-button routerLink="/contact" routerLinkActive="horizontal-active-link"
       [routerLinkActiveOptions]="{exact:true}">Contact</a>

</mat-toolbar>-->

