<div *ngIf="products" class="swiper-container" [swiper]="config">
    <div class="swiper-wrapper h-100">
        <div *ngFor="let product of products" class="swiper-slide">
            <mat-card class="product-item">
                <!--<mat-chip-list *ngIf="product.discount">
                    <mat-chip color="warn" selected="true">{{product.discount}}% OFF</mat-chip>
                </mat-chip-list>-->
                <a [routerLink]="['/products', product.id, product.name, {supplier_id: product.supplier_id}]" class="image-link">
                    <img [src]="product.image" alt="" height="216" width="250">
                    <!--<img *ngIf="product.image" src="assets/images/img_not_available.jpg">-->
                </a>
                <h4 class="category text-muted">{{ ( appService.Data.categories | filterById : product.category_id )?.name
                    }}</h4>
                <a [routerLink]="['/products', product.id, product.name, {supplier_id: product.supplier_id}]" class="title text-truncate">
                    {{product.name}}
                </a>

                <div fxLayout="row" fxLayoutAlign="space-between center" class="prices">
                    <h4 class="category text-muted">{{product.supplier_name}}</h4>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between center" class="prices">
                    <div fxLayout="column" fxLayoutAlign="center start">
                        <!--<p class="old-price text-muted"><span *ngIf="product.suppliers">${{avgPrice}}</span></p>-->
                        <!--<p class="old-price text-muted"><span *ngIf="product.oldPrice">${{product.oldPrice | number : '1.2-2'}}</span></p>-->
                        <!--<p class="new-price">${{product.newPrice | number : '1.2-2'}}</p>-->
                        <p class="new-price">${{product.price}}</p>
                    </div>
                    <!--<app-rating [ratingsCount]="4" [ratingsValue]="200" [direction]="'column'"></app-rating>-->
                    <app-rating [ratingsCount]="product?.ratingsCount" [ratingsValue]="product?.ratingsValue" [direction]="'column'"></app-rating>
                </div>
                <!--<div class="divider mt-2"></div>
                <div class="icons">
                    <app-controls [product]="product" (onOpenProductDialog)="openProductDialog(product)"></app-controls>
                </div>-->
            </mat-card>
        </div>
    </div>
    <button mat-mini-fab class="swiper-button-prev swipe-arrow"><mat-icon>keyboard_arrow_left</mat-icon></button>
    <button mat-mini-fab class="swiper-button-next swipe-arrow"><mat-icon>keyboard_arrow_right</mat-icon></button>
</div>